<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>

    <link rel="stylesheet" href="~/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/css/simplePagination.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.simplePagination.js"></script>

</head>
<body>
    <header class="bar-pic">
        <div class="header-left">
            <a asp-action="Index" asp-controller="Home">
                <img class="logo grow" alt="EasyBay" src="~/images/EasyBay.png">
            </a>
        </div>
        <div class="header-right">
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="bar grow" asp-controller="User" asp-action="Login">Sign In</a>

                <a class="bar grow" asp-controller="User" asp-action="Register">Sign Up</a>
            }
            else
            {
                <a class="bar grow" asp-controller="User" asp-action="Index" asp-route-username="@User.Identity.Name">@User.Identity.Name</a>
                <a class="bar grow" asp-action="User" asp-controller="Lot" asp-route-username="@User.Identity.Name">History</a>
                <a class="bar grow" asp-action="Track" asp-controller="Lot" asp-route-username="@User.Identity.Name">Track</a>
                <a class="bar grow" asp-action="Index" asp-controller="Lot" asp-route-username="@User.Identity.Name">Auction</a>
                <a class="btn grow" asp-controller="User" asp-action="Logout">Logout</a>
            }
        </div>
    </header>
    <main>
        <div class="content-height">
            @RenderBody()
        </div>
    </main>
    <footer class="clearfix">
        &copy; Copyright 2019 EasyBay
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
